html, body, div, span, ul, li, svg, header {
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;

	position: relative;

	color: white;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
	--base-font-size: 14px;
	
    --gray-1: rgb(30, 30, 30);
	--gray-2: rgb(60, 60, 60);
	--gray-3: rgb(90, 90, 90);
	--gray-4: rgb(120, 120, 120);

	--accent: royalblue;
}